.header {
    background-color: salmon;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.logo {
    width: 10em;
    display: flex;
    border-radius: 0 2em 2em 0;
}

h1 {
  width: 100%;
 text-align: center;
 margin: auto;
 color: white;
}